
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  padding: 0 auto;
}
.header {
  
  background-color: #000;
 

}
.container{
    margin-right: 90px;
    margin-left: 92px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
}
.header_logo {
  color: #e3b873;
  margin: 37px 95px 36px 92px;
}
.menu_list {
  display: flex;
  list-style: none;
}
.menu_list-link {
  margin-right: 47px;
  text-decoration: none;
  color: white;
}
.menu_list-link:hover {
  color: #e3b873;
  transition: 0.3s linear;
}
.phone_number {
  margin-left: 20px;
  color: #e3b873;
  text-align: right;
}
.request_call {
  color: white;
  background-color: #e3b873;
  border: none;
  margin: 24px 0px 22px 45px;
  padding: 13px 33px;
}
.main_content{
    background: url(../images/bg_image.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 90vh;
    position: relative;
}
.bg_alpha{
    background: rgba(0, 0, 0, 0.6);
    z-index: +1;
    position: absolute;
    height: 90vh;
    width: 100%;
}
.main_container{
    margin: 194px 0 0 134px;
    max-width: 676px;

}
.title{
    font-family: 'Yeseva One';
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
}
.title_description{
    font-size: 22px;
    line-height: 36px;
    font-weight: normal;
    color: white;
}
.calculate{
    color: white;
    background-color: #e3b873;
    border: 1px solid  #e3b873;
    margin-top: 60px;
    margin-right: 42px;
    padding: 20px 42px;
}
.submit{
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top:60px;
    padding: 20px 22px;
}


.city_color{
  color:#e3b873;  
}
/**
.projects{
    color: white;
    background-color: black;
}
.project_list{
    list-style:none;
    display: inline-flex;
    text-decoration: none;
}
.project_list-item{
text-decoration: none;
}